* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
    font-family: 'Exo 2', sans-serif;
}

h1 {
  font-size: 3.4em;
  padding: 15px;
}

/* Navbar */

nav a {
  color: white;
}

nav a:hover {
  color: rgb(207, 52, 52);
}

.gainz-logo {
  z-index: 1000;
}

/* Cover */

.slider {
  height: 89vh;
}

.cover1 {
    background: url('../images/IMG_0187.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.cover1-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cover1 img {
  width: 30%;
  height: 30%;
}

.cover1-copy {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 10%;
  color: white;
  text-align: center;
}

.cover1-copy ul li {
  content: none;
}

.cover2 {
  background: url('../images/IMG_0189.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.cover2-copy {
  padding: 150px 0;
  padding-left: 60%;
  color: white;
  text-align: center;
}

.cover2-copy p {
  padding: 20px 50px;
  line-height: 1.4em;
}

.cover2-copy button {
  text-align: center;
}

.survey-button {
  width: 50%;
  padding: 50%;

}

.survey-button a {
  color: white;
}

.cover3 {
  height: 100vh;
  width: 100%;
}

.cover3-copy {
  padding: 150px 0;
  width: 50%;
  text-align: center;
}

.cover3-copy ul {
  padding-bottom: 15px;
}

.cover3-copy ul li {
  font-size: 1.4em;
  line-height: 2em;
}

.cover3-info img {
  width: 400px;
}

.cover3-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}



/* Navbar */

.dropdown-menu {
    display: flex;
    flex-direction: row;
    background: black;
    height: -10vh;
    padding: 0;
}

.dropdown-menu img {
    position: absolute;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    box-shadow: 5px 10px white;
}

.nav-list li {
    color: white;
    font-size: 1.4em;
    padding: 30px;
    list-style: none;
}

/* About */

.about-section {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
  background-color: rgb(192, 48, 48);
}

.about-section h1 {
  text-align: left;
  width: 100%;
  color: white;
}

.about-copy {
  padding: 90px 65px 50px 65px;
  background-color: rgb(192, 48, 48);
}

.about-copy p {
  padding: 10px;
  color: white;
}

.about-image {
  margin: 0;
  padding: 0;
}

.about-image img {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Plans */

.plans-section {
  background-color: rgb(41, 40, 40);
  height: 100vh;
}

.plans-section p, .plans-section h1 {
  text-align: center;
  color: rgb(204, 56, 56);
  font-weight: 100;
}

.plans-section p {
  font-size: 1.2em;
}

.pad-list {
  padding: 10px;
}

.pad-list ul {
  padding: 20px 0;
}

.pad-list ul li {
  border-bottom: .5px solid black;
  list-style: none;
}

.pad-list ul li:nth-child(even){
  background: rgb(255, 235, 235);
}

.card-barrier {
  background-color: white;
  width: 20%;
}

.card-barrier:nth-child(even){
  border: 2px solid rgb(199, 45, 45);
}

.plan-choices {
  text-align: center;
}

.plan-choices h3 {
  font-weight: 200;
}

.types {
  font-size: 1.2em;
  padding: 10px;
}

.price {
  font-size: 3em;
}

.plan-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
}

.plan-cards p {
  padding: 20px 15px;
  color: black;
}

.plan-cards ul li {
  padding: 10px;
  font-size: 1.4em;
}

ul {
  list-style: none;
}

 ul li:before {
  content: '✓';
  padding: 10px;
}

/* Contact */

.contact-container {
  height: 100vh;
}

.contact-section {
  background: rgba(231, 208, 164, 0.87);
  height: 100%;
}

.contact-section p, .contact-section h1 {
  text-align: center;
  margin: 0;
}

.contact-section p {
  font-size: 1.2em;
}

.contact-box {
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: white;
  margin: 8% 22%;
  width: 55%;
  font-size: 2em;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px black;
}

.contact-box i {
  background-color: black;
  height: 100%;
  width: 12%;
  padding: 30px 10px;
  margin: 0;
  color: white;
  border-radius: 3px;
}

.contact-box p {
  padding-left: 75px;
  padding-top: 15px;
  text-align: center;
}

.contact-box a {
  padding: 20px;
  text-align: center;
  color: rgb(226, 69, 69);

}

/* Footer */

.footer {
  padding: 20px;
  background: black;
  height: 40vh;
}

.divider {
  padding: 10px 0;
  border-bottom: 2px solid white;
}

.socials-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socials {
  padding: 10px 20px;
  font-size: 2.4em;
  color: black;
}

.footer p {
  color: white;
}

.socials i {
  padding: 10px 40px;
  color: rgba(173, 27, 27, 0.959);
}

@media only screen and (max-width: 1030px){

  .slider {
    height: 94vh;
  }
  .cover1-info {
    display: flex;
    flex-direction: column;
  }

  .cover1-info img {
    width: 45%;
  }

  .cover1-copy {
    margin-left: 2%;
    width: 60%;
  }

  .cover2-copy {
    padding: 200px 0;
    padding-right: 250px;
  }

  .cover3-info {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    padding: 10% 0;
  }

  .cover3-copy {
    padding: 20px;
  }

  .about-section {
    height: 55vh;
    width: 100%;
  }

  .about-copy {
    width: 70%;
  }

  .about-image img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .plans-section {
    height: 100%;
  }
}


@media only screen and (max-width: 900px){

    body {
      margin: 0;
    }
  
    .dropdown-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-top: 5px;
    }

    .dropdown-menu img {
      position: relative;
      float: left;
      margin: 2% 42%;
    }
  
    .dropdown-menu i {
      color: rgba(230, 77, 77, 0.973);
      display: flex;
      justify-content: right;
      font-size: 2em;
      border-radius: 10%;
      cursor: pointer;
      margin: 20px;
      padding: 8px 20px 0 0;
    }

    nav li {
      padding: 20px;
    }
  
    .dropdown-menu h2 {
      padding-right: 30%;
    }
  
    header {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      padding: 0;
    }

    .about-section {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .about-copy {
      width: 100%;
    }

    .plans-section {
      height: 40vh;
    }

    .plan-cards {
      display: flex;
      flex-direction: column;
    }

    .contact-box {
      display: flex;
      flex-direction: column;
    }

    .contact-box i {
      width: 100%;
      padding: 10px;
    }

    .contact-box p {
      padding: 5px 10px;
      font-size: 1.0em;
    }

    .footer {
      text-align: center;
    }

    .logo {
      padding-bottom: 20px;
    }

    .contact-box p {
      display: flex;
      flex-direction: column;
      font-size: .70em;
      padding: 0;
    }

    .contact-box a {
      padding: 2px;
    }

    .socials-logo {
      display: flex;
      flex-direction: column;
    }

    .socials {
      padding: 0;
    }
  }

  @media only screen and (max-width: 480px){
  
    body {
      margin: 0;
    }
  
    .dropdown-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-left: 10px;
      padding-top: 20px;
    }

    .dropdown-menu img {
      position: relative;
      float: left;
      margin: 0;
      width: 10%;
      
    }
  
    .dropdown-menu i {
      font-size: 2em;
      border-radius: 10%;
      cursor: pointer;
      margin: 18px;
      padding-top: 3px;
    }

    .slider {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    nav li {
      display: block;
      float: left;
      width: 100%;
      padding: 2px;
      text-decoration: none;
    }
  
    header {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
    }

    .contact-box p {
      display: flex;
      flex-direction: column;
      font-size: .70em;
      padding: 0;
    }

    .contact-box a {
      padding: 2px;
    }
  }